@font-face {
    font-family: 'Roboto';
    src: url('./Roboto-Regular.ttf');
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto';
    background-color: $color1;
    color: $color2;
}